* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font: normal 16px Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    line-height: 1.4em;
  }

  /* style nav  */
  .navbar {
      font-size: 1.2rem;
      background-color: #fafafa;
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }

  .main-nav {
      list-style-type: none;
      display: none;
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .nav-link, .logo {
      text-decoration: none;
      color: #29434e;
  }

  .main-nav li {
      text-align: center;
      margin-left: 2.5rem;
      color: #29434e;
  }

  .main-nav li {
    position: relative;
    display: block;
    text-decoration: none;
    color: #29434e;
    padding: 6px 0;
    transition: 0.5s;
    font-size: 1.3rem;
}

.main-nav li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #455a64;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

  .main-nav li:hover {
      color: #455a64;
  }

  .main-nav li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

  .main-nav li:last-child {
      margin-right: 3rem;
  }

  .logo {
      display: inline-block;
      font-size: 1.6rem;
      text-align: center;
      margin-left: 3rem;
  }
 
  nav span {
      color: #8eacbb;
  }
  /* end nav styling  */
  /* start hero  */
  .bg-img {
      background-image: url('../images/hero-image.jpg');
      background-color: #34515f;
      min-height: 700px;
      background-position: center;
      background-size: cover;
      position: relative;
  }

  .hero {
      display: block;
      text-align: center;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border-radius: 0.25em;
  }

  .hero > h1 {
      font-weight: 800;
      letter-spacing: .225em;
      line-height: 1.75em;
      font-size: 2em;
      text-transform: uppercase;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  .hero > p {
      letter-spacing: 0.225em;
      text-transform: uppercase;
      margin: 0 0 2em;
      margin-block-start: 1em;
      margin-block-end: 2em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding: 0 2rem;
  }

  .hero > .btn {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      background-color: #6b98af;
      text-decoration: none;
      color: #fff;
      border-radius: 0.25rem;
      text-align: center;
      display: inline-block;
      transition: all 0.3s;
      text-transform: uppercase;
      letter-spacing: 0.225em;
      margin-block-end: 2em;
  }

  /* start main styling  */
  main {
      width: 80%;
      margin: auto;
      min-height: 100%;
      padding: 3rem 0;
      color: #29434e;
  }

  h2, p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  /* style about me section  */
  .about {
      padding: 2rem;
      display: flex;
      flex-direction: row-reverse;
      text-align: justify;
      align-items: center;
      position: relative;
  }

  .about img {
      border-radius: 50%;
      width: 30%;
      max-height: 750px;
      max-width: 750px;
  }

  .about div {
      display: block;
  }

  .about h2 {
      letter-spacing: 3px;
      text-transform: uppercase;
      font: 1.5rem;
  }

  .about p {
      display: block;
      padding-right: 3rem;
  }
  /* end about styling  */
  /* start projects section  */
  .projects h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font: 1.5rem;
    padding: 2rem;
  }

  .projects > ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 1rem;
      list-style-type: none;
      padding: 2rem;
  }

  .projects > ul > li {
      border: 1px solid #424242;
      border-radius: 0.5rem;
  }

  .projects > ul > li > figure {
      max-height: 300px;
      overflow: hidden;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      position: relative;
  }

  .projects > ul > li > figure > a > img {
      width: 100%;
      object-fit: cover;
  }

  .projects > ul > li > figure > figcaption {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      border-top-right-radius: 0.225em;
  }

  .projects > ul > li > figure > figcaption > h3 {
      color: #fff;
      padding: 0.75rem;
      font-size: 1.25rem;
  }

  .projects > ul > li > p {
      font-size: 1rem;
      line-height: 1.5;
      padding: 1rem 0.75rem;
      margin: 0;
  }

  .projects > ul > li > a {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      margin-top: 0;
      background-color: #6b98af;
      text-decoration: none;
      color: #fff;
      border-radius: 0.25rem;
      text-align: center;
      display: inline-block;
      transition: all 0.3s;
  }

  .projects > ul > li > a:hover {
      opacity: 0.6;
  }

  .projects > ul > li:first-child {
      grid-column: span 2;
  }





  
